<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
    <body>
        <div class="navbar navbar-inverse bg-inverse fixed-top" th:fragment="header">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">API Demo</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="active"><a href="/profiles">D3 Career Profiles</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>